$primarymain : #CC57D2;
$secondary : #FFB2FF;
$third : #FEB8E1;
$lightsecondary :  #C9C9F6;
$white : #FFFF;
$primaryblue : #161C3D;
$primaryblue2 : #1D2551;
$thirdblue : #270082;
$primarylightblue : #454D79;
$secondaryblue : #565ADD;
$grey : #3E3D3D;
$grey2 : #9C9C9C;
$lightgrey : #ABA7A7;
$black : #000000;