@import "../../styles/common/colors";

.dashboard-global-container{
    display: flex;
    background-color: solid blue;

    .dashboard-center{
    background-color:red;
    width: 20%;
    height: 100vh;
  }

  .dashboard-left{
    background-color:red;
    width: 20%;
    height: 100vh;
  }

  .dashboard-right{
    background-color:red;
    width: 20%;
    height: 100vh;
  } 
}
