@import "../../styles/common/colors";

body {
  background-color: #161C3D;
}

.btn-container{
  display: flex;
  gap: 20px;
}

.gradient-text {
  background-image: linear-gradient(to right, $primarymain, $white, $primaryblue);
  -webkit-background-clip: text; /* Pour les navigateurs basés sur Webkit (Safari, Chrome) */
  background-clip: text;
  color: transparent; /* Rend le texte d'origine invisible */
  text-align: center;
  line-break: inherit;
  font-size: 64px; /* Taille de la police, à ajuster selon vos besoins */
  font-weight: bold; /* Gras, si désiré */
}

h2{
  font-weight: 400;
  font-size: 20px;
  color: $white;
  text-align: center;
}