.avantage-card-container{
    background-color: #C9C9F6;
    border-radius: 32px;
    .avantage-container{
        height: 350px;
        border-radius: 32px;
    }
    .avantage-description{
        height: 170px;
        padding: 0 40px;
    }
}