.subscription-card-container{
    background-color: #EFF0FF;
    border-radius: 32px;
    .subscription-description{
        &--large{
            padding: 30px 40px;
        }
        &--small{
            padding: 20px 40px;
        }
        .top-card{
            text-align: center;
            &:after{
                content: '';
                display: block;
                width: 100%;
                height: 1px;
                background-color: #9999C4;
                margin: 20px auto;
            }
        }
        .bottom-card{
            ul{
                padding: 0;
                li{
                    list-style-type: "✓";
                    p{

                    }
                }
            }

        }
    }
}