@import "../../styles/common/colors";

.session-card-container{
  display: flex;
  background-color: $lightgrey;
  border-radius: 20px;
  width: 50%;
  padding: 20px;
}
.session-card-title{
  font-size: 16px;
}

.session-card-date{
  font-size: 12px;
}

.session-card-text{
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
